{% extends 'base/index.html' %}

{% block title %}
    Регистрация
{% endblock %}
{% block nav %}
<nav class="py-6 px-6 flex justify-between bg-cyan-900 items-center border-b border-grey-200">
    <p class="flex-xl text-lg text-teal-300 font-semibold">БРОНИРОВАНИЕ ОТЕЛЕЙ</p>
    <div class="space-x-6">
        <a href="{% url 'countries' %}" class="text-lg text-fuchsia-500 font-semibold hover:text-white">Главная</a>
        <a href="{% url 'login' %}" class="px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl">Вход</a>
    </div>
</nav>
{% endblock %}
{% block content %}
    <div class="w-1/2 my-6 mx-auto p-6 bg-gray-100 rounded-xl">
        <h1 class="mb-6 text-3xl text-center">Регистрация:</h1>
        <form method="post" action=".">
            {% csrf_token %}

            <div class="mb-6">
                <label class="inline-block mb-2">Имя пользователя:</label>
                {{ form.username }}
            </div>

            <div class="mb-6">
                <label class="inline-block mb-2">Пароль:</label>
                {{ form.password1 }}
            </div>

            <div class="mb-3">
                <label class="inline-block mb-2">Подтверждение пароля:</label>
                {{ form.password2 }}
            </div>

            {% if form.errors or form.non_field_errors %}
                <div class="mb-3 p-6 bg-red-100 rounded-xl">
                    {% for field in form %}
                        {{ field.errors }}
                    {% endfor %}

                    {{ form.non_field_errors }}
                </div>
            {% endif %}

            <button class="py-4 px-8 text-lg text-center bg-teal-500 hover:bg-teal-700 rounded-xl text-white">Сохранить</button>
        </form>
    </div>
{% endblock %}
